.search-container {
    background-color: rgba(0, 0, 0, 0.644);
    text-align: center;
    height: 40px;

}

.search-container input {
    margin-top: 10px;
    line-height: 20px;
    width: 70%;
}

.shop-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.product-container {
    margin-left: 29px;
    border-right: 1px solid rgb(211, 185, 185);
}

.cart-container {
    margin-left: 15px;

}